@font-face {
  font-family: gothamBlack;
  src: url(./fonts/Gotham-Black.otf);
}

@font-face {
  font-family: gothamMed;
  src: url(./fonts/Gotham-Medium.otf);
}

@font-face {
  font-family: gothamUltra;
  src: url(./fonts/Gotham-Ultra.otf);
}

html, body{
  font-family: gothamMed, Arial;
  font-size: 9pt;
  background: #ccc;
}

a {
  color: #444;
}

.sheet {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  margin-top: 0px;
  padding: 25px;
  padding-right: 10px;
  box-shadow: 5px 5px 5px #000;
}

.wrapper tr td {
  vertical-align: top;
}

.right {
  float: right;
}

.left {
  float: left;
}

.border {
  margin: 3px 0px 3px 0px;
  height: 20px;
}

h3 {
  line-height: 20px;
  background: #231f20;
  color: #fff;
  font-family: gothamBlack, Arial Black;
  font-size: 11pt;
  margin: 3px 0px 3px 0px;
  display: inline-block;
  vertical-align: top;
  width: 95%;
}

input[type="text"], input[type="checkbox"], textarea {
  font-family: gothamMed, Arial;
  border: 2px solid #231f20;
  font-size: 10pt;
  background: #fff;
  margin: 3px;
}

input[type="text"], textarea {
  width: 96%;
}

input.grey {
  border: 2px solid #999;
}

input[name="name"] {
  font-size: 14pt;
}

.refresh {
  width: 85px;
  text-align: center;
}

.refresh input {
  width: 80px;
  font-size: 18pt;
  line-height: 80px;
  text-align: center;
}

.id {
  display: inline-block;
  vertical-align: top;
  width: 67%;
}

.id h3 {
  width: 97%;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.div-center {
  margin-right: auto;
  margin-left: auto;
}

.aspects {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}

.skills {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}

.skills input[type="text"] {
  width: 14%;
}

.skill-lvl {
  font-family: gothamMed, Arial;
  color: #999;
  display: inline-block;
  width: 95px;
  text-align: right;
  font-weight: bold;
}

.extras {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.stunts {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.stress {
  font-family: gothamBlack, Arial Black;
  font-size: 18pt;
  display: inline-block;
  vertical-align: top;
  width: 24%;
}

.stress h3 {
  width: 91%;
}

.plus, .minus {
  cursor: pointer;
}

.plus:hover {
  color: #3f3;
}

.minus:hover {
  color: #f33;
}

.consequences {
  font-family: gothamBlack, Arial Black;
  font-size: 18pt;
  display: inline-block;
  vertical-align: top;
  width: 74%;
}

.consequences h3 {
  width: 97%;
}

.consequences input {
  width: 46%;
}

.footer {
  max-width: 800px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #000; 
  text-align: justify;
}
