html, body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: #ccc;
  height: 100%;
  width: 100%;
}

.header {
  color: #fff;
  width: 100%;
  background: #333;
  overflow-y: hidden;
  font-family: "Montserrat";
  box-shadow: 5px 5px 5px #999;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
}

@media screen and (min-width: 1250px) {
  /* BIG SCREEN OPTIONS */
  .header {
    display: none !important;
  }

  .content {
    padding-left: 250px;
  }
}

.header h1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  max-width: 400px;
  font-size: 28pt;
  line-height: 60px;
}

.header a {
  text-decoration: none;
}

.title {
  text-align: center;
  margin: 7px 0px 7px 0px;
  color: #222;
}

#nav {
  height: 100%;
  width: 250px;
  background: #333;
  float: left;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
}

@media screen and (max-width: 1249px) {
  /* SMALL SCREEN OPTIONS */
  #nav {
    display: none !important;
  }

  #nav h1 {
    display: none;
  }

  #body {
    margin-top: 70px;
  }
  
  .content {
    padding: 0px 10px;
  }
}

#nav h1 {
  font-size: 28pt;
  text-align: center;
  color: #fff;
  line-height: 60px;
  margin: 0px;
  font-family: "Montserrat";
}

#nav a.page-link {
  display: block;
  text-align: center;
  padding: 15px 20px;
  border-bottom: 1px solid #555;
  border-top: 1px solid #111;
  color: #fff;
}

#nav a.page-link:hover {
  background: #222;
}

.links {
  text-align: center;
}

.icon-nav {

}
/*
#nav {
  list-style: none;
  font-size: 48pt;
  position: absolute;
  margin-top: -17px;
  margin-left: -49px;
  display: block;
  z-index: 5;
}

#nav ul {
  display: none;
  list-style: none;
  position: absolute;
  width: 300px;
  top: 77px;
  left: -45px;
}

#nav li {
  position: relative;
}

#nav li a {
  line-height: 75px;
  text-decoration: none;
  color: #fff;
}

#nav li:hover > ul {
  display: block;
}

#nav ul li {
  float: none;
  position: relative;
}

#nav ul li a {
  padding: 5px 25px;
  line-height: 45px;
  margin: 0px;
  background: #333;
  color: #fff;
  font-size: 14px;
  display: block;
  border-top: 1px solid #555;
  border-bottom: 1px solid #111;
  text-align: center;
}

#nav ul li a:hover {
  background: #111;
} */

.right {
  float: right;
}

.left {
  float: left;
}

.links {
  margin-top: 15px;
  margin-right: 10px;
}

.donate {
  background: #fff;
  color: #333;
  font-size: 7pt;
  border-radius: 100px;
  width: 35px;
  text-decoration: none;
  vertical-align: top;
  padding-top: 11px; 
  padding-bottom: 11px;
  display: inline-block;
  text-align: center;
}

.icon {
  max-width: 20%;
}

#body {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
