html, body {
  font-family: proxima-nova,Helvetica,Arial,sans-serif;
  background: #ddd;
  background: url(/rpg/images/notebook2X.png);
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
