html, body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: #ccc;
  height: 100%;
  width: 100%;
}

.header {
  color: #fff;
  width: 100%;
  background: #333;
  overflow-y: hidden;
  font-family: "Montserrat";
  box-shadow: 5px 5px 5px #999;
}

.header h1 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  max-width: 400px;
  font-size: 28pt;
  line-height: 40px;
}

.header a {
  text-decoration: none;
}

.title {
  text-align: center;
  margin: 7px 0px 7px 0px;
  color: #222;
}

#nav {
  list-style: none;
  font-size: 32pt;
  position: absolute;
  margin-top: -11px;
  margin-left: -35px;
  display: block;
  z-index: 5;
}

#nav ul {
  display: none;
  list-style: none;
  position: absolute;
  width: 300px;
  top: 70px;
  left: -45px;
}

#nav li {
  position: relative;
}

#nav li a {
  line-height: 75px;
  text-decoration: none;
  color: #fff;
}

#nav li:hover > ul {
  display: block;
}

#nav ul li {
  float: none;
  position: relative;
  line-height: inherit;
}

#nav ul li a {
  padding: 10px 40px;
  margin: 0px;
  background: #333;
  color: #fff;
  font-size: 14px;
  display: block;
  border-top: 1px solid #555;
  border-bottom: 1px solid #111;
  text-align: center;
}

#nav ul li a:hover {
  background: #111;
}

.right {
  float: right;
}

.left {
  float: left;
}

.links {
  margin-top: 15px;
  margin-right: 10px;
}

.donate {
  background: #fff;
  color: #333;
  font-size: 7pt;
  border-radius: 100px;
  width: 35px;
  text-decoration: none;
  vertical-align: top;
  padding-top: 11px; 
  padding-bottom: 11px;
  display: inline-block;
  text-align: center;
}

.icon {
  max-width: 20%;
}

.content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
