<!doctype html>
<html ng-app="storygenApp">
  <head>
    <title></title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/storygen.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/storygen.css" />
  </head>
  <body ng-controller="storygenCon as sg">
    
    <div class="header">
      <div class="links right">

        <a href="https://github.com/treetrunk" target="_blank">
          <img src="GitHub-Mark-Light-32px.png" title="GitHub" />
        </a>
        <a href="" class="donate">donate</a>
      </div>
      <h1>&nbsp;&#9776; rpg stuff</h1>
    </div>


    <div class="body">

      <!---- STORY GENERATOR ---->
      <div class="story" ng-show='true'>
        <h1 class="title">storygen</h1>
        <form ng-submit="sg.regen('all')">
          <input type="button" value="&#8722;" ng-click="sg.minus()" />
          <input type="text" value="{{sg.number}}" size="1" 
            ng-model="sg.number" />
          <input type="button" value="+" ng-click="sg.plus()" /><br /><br />
          <input type="submit" value="new story" />
        </form>
        <br />

        <img src="{{icon.path}}" class="icon"  
          style="background: {{icon.color}};" ng-click="sg.regen($index)" 
          ng-repeat="icon in sg.icons" />
      </div>
      <br />

    </div>

  </body>
</html>
